# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

pages/__pycache__/
*.pyc
*.pyo
*.pyd

pages/Faculty/__pycache__/
*.pyc
*.pyo
*.pyd

pages/Registrar/__pycache__/
*.pyc
*.pyo
*.pyd

pages/student/__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
.venv/

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

